@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    
}

.header {
    grid-area: 1/2/2/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}


.header-upper {
    display:grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 2fr;
    align-items: center;
    justify-content: center;
}

input {
    height:20px;
    border-radius: 15px;
    background-color: #e2e8f0;
    border: none;
}
.header-lower {
    display:grid;
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: center;
    align-items: center;
}

.header-lower-buttons {
    place-self: center;
    gap:60px;
    display: flex;
    justify-content: space-between;
}

.header-lower-text {
    display: flex;
    flex-direction: column;

}

.lower-text {
    font-size: 24px;
    font-weight: bolder;
}

.sidebar {
    background-color: #1992d4;
    grid-area: 1/1/3/2;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding: 30px;
    

}
.side-bar-header {
    
    font-size:larger;
}

.dboard {
    width:48px ;
    height: 48px;
}
.nav {
    margin-left: 10px;
    display:grid;
    gap:20px;
    
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #e2e8f0;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr ;
    padding-right: 40px;
}
.header-lhs {
    margin-left:42px;
    font-weight: bold;
    
}

.lhs {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:10px;
}

.lhs-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px 20px;
    margin-left: 40px;
    margin-top: 0px;
}

.lrhs-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:15px;
    background-color: white;
    padding:20px;
    border-radius: 15px;
}

.avatar {
    width:50px;
    height:50px;
}

.lower-avatar {
    width:70px;
    height:70px;
}

.card {
    background-color: white;
    padding: 50px;
    height:150px;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(0,0,0,5%);
    border-left: 10px solid #f0b429;
}

.header-rhs {
    font-weight: bold;
   
}

.rhs-cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    
    
    
}
.urhs {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    padding-right: 0px;
    
}

.lrhs {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    padding-right: 0px;
}

.lhrstext {
    align-items: center;
}

.header-lrhs {
    font-weight: bold;
}
hr {
    border-color: rgb(0,0,0,10%);
}
.rhstext {
    
    
    padding: 5px;
}

button {
    background-color: #1992d4 ;
    color: white;
    border-radius: 15px;
    padding:10px 20px;
    font-weight: bolder;
    font-size: 14px;
    border: none;
}
button:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    color: #1992d4;
}
